.active{
	background-color: grey;

}
.button{
	font-size: 40px;
	cursor: pointer;
}
h4{
	text-align: center;
}
.field{
	color:grey;
 	width: 40px;
}
.page-link{
	float: right;
}
/*@media screen and (max-width: 800px) {
  .left, .main, .right {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller 
  }*/
  .button{
  	color:green;
  }