<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<h4 style="text-align:center">Angular Pagination</h4>
<!-- {{data}} -->
<div class="table" ng-controller="pageCntrl"> <table class="table">
			
                        <table class="table table-striped table-hover">
                            <thead  class="thead-dark">
                                <tr>
                                    <th>Id</th>
                                    <th>Category</th>
                                    <th>Question</th>
                                    <th>Answer</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="list in newlist">
                               
                                    <td>{{$index +1}}</td>
                                    <td>{{list.category}}</td>
                                    <td>{{list.question}}</td>
                                    <td>{{list.correct_answer}}</td>
                                </tr>
                            </tbody>
                        </table>   
                           {{message}}  
      </div>  
</div> 
<nav aria-label="Page navigation example">
      <label> No.of items per page: </label>
      <input class="field" type="number" maxlength="4" min="1"  max="data.length"size="3" ng-model="itemsPerPage">
  <ul class="pagination" ng-hide="currentPage>numberofpages">
  <button  ng-if="currentPage>numberofpages" ng-class = "{button: currentPage>numberofpages}"> Go Back</button>

    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous" ng-disabled="currentPage==numberofpages" ng-click= "previous(num)">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>

    </li> 
    <a class="page-link" href="#" ng-click="thisPage(num)" ng-repeat="num in subarrayCurrentpage track by $index" ng-class="{active: num==currentPage}">{{num}}</a>
    
    <li class="page-item"><a class="page-link" href="#"> Current page {{currentPage}}</a></li>

 <!--   <br> -->
    <li class="page-item"><a class="page-link" href="#">{{numberofpages}}</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next" ng-disabled= "currentPage==numberofpages" ng-click= "next()">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul></nav>
 
   <label class="Currentpage"> Jump to: </label>
      <input class="field" type="number" min="1" max="number" ng-click="thisPage(currentPage)" ng-model="currentPage" >
      <!-- <button  ng-click="thisPage(currentPage)"> Jump to</button> -->
      <!-- <i class="material-icons button" >forward</i> -->
			</span>
      </form>
