<!DOCTYPE html>
<html>
<head>
	<title>Pagination</title>
	<script src="node_modules/angular/angular.min.js"></script>
	<script src="node_modules/jquery/dist/jquery.slim.min.js"></script>
	<link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
	<script src="node_modules/angular-animate/angular-animate.min.js"></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
	<script src=""></script>
</head>
	<body><div ng-app="paginationApp" ng-controller="pageCntrl">
	
	<!-- <ul>{{message}}
  <li ng-repeat="x in dataList">
    {{ x.category + ', ' + x.question  + ', '+ x.correct_answer}}
  </li>
</ul> -->


<div class="table" ng-controller="pageCntrl"> <table class="table">
				{{message}}
                        <table class="table table-striped table-hover">
                            <thead  class="thead-dark">
                                <tr>
                                    <th>Id</th>
                                    <th>Category</th>
                                    <th>Question</th>
                                    <th>Answer</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="list in dataList">
                                    <td>{{$index +1}}</td>
                                    <td>{{list.category}}</td>
                                    <td>{{list.question}}</td>
                                    <td>{{list.correct_answer}}</td>
                                </tr>
                            </tbody>
                        </table> 
        <pagination-dir data="dataList">
      </pagination-dir>
      </div>  
         
</div>

	</body>
	<script src="app/app.js"></script>
	<script src="app/constant.js"></script>
	<script src="app/pagination/controllers/pageCntrl.js"></script>
    <script src="app/pagination/directives/paginationDir.js"></script>
	
</html>